@using App.Web.Models.UI.Admin;
@model List<BreadCrumbViewModel>

<h5 class="text-dark font-weight-bold my-1 mr-5">
    @ViewBag.PageTitle
</h5>
<ul class="breadcrumb breadcrumb-transparent breadcrumb-dot font-weight-bold p-0 my-2 font-size-sm">
    @foreach (var crumb in Model)
    {
        if (crumb.IsActive)
        {
            if (crumb.IsFilter)
            {
                <li class="breadcrumb-item">
                    <a href="@crumb.Url" class="text-muted" style="cursor:pointer;" data-toggle="modal" data-target="#filter_modal">
                        @crumb.Name
                    </a>
                </li>
                @*<a href="@crumb.Url" class="breadcrumb-item" style="cursor:pointer;" data-toggle="modal" data-target="#filter_modal">@crumb.Name</a>*@
            }
            else
            {
                <li class="breadcrumb-item">
                    <a href="@crumb.Url" class="text-muted">
                        @crumb.Name
                    </a>
                </li>
                @*<a href="@crumb.Url" class="breadcrumb-item">@crumb.Name</a>*@
            }
        }
        else
        {
            <li class="breadcrumb-item">
                <span href="@crumb.Url" class="text-muted">
                    @crumb.Name
                </span>
            </li>
            @*<span class="breadcrumb-item active">@crumb.Name</span>*@
        }
    }
</ul>